@{
    ViewData["Title"] = "About";
}

<!--? slider Area Start-->
<section class="slider-area slider-area2">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2">
                            <h1 data-animation="bounceIn" data-delay="0.2s">About us</h1>
                            <!-- breadcrumb Start-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="About">about</a></li>
                                </ol>
                            </nav>
                            <!-- breadcrumb End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="topic-area section-padding40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Giới thiệu chung</h2>
                </div>
            </div>
        </div>
        <div class="section-top-border text-left">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-justify">
                        Được thành lập vào năm 2000, Tổ chức Giáo dục IIG Việt Nam là đơn vị
                        hàng đầu tại Việt Nam, Lào, Campuchia và Myanmar về khảo thí, kiểm định và đảm bảo chất
                        lượng giáo dục. IIG Việt Nam hiện đang là Đại diện quốc gia của nhiều Tổ chức hàng đầu
                        thế giới như Viện Khảo thí Giáo dục Hoa Kỳ (ETS), Tổ chức Khảo thí Tin học hàng đầu
                        CERTIPORT, Tập đoàn Sanako, Tổ chức EDUSOFT…
                    </p>
                    <p class="text-justify">
                        Tại Việt Nam, với mạng lưới chi nhánh trải dài cả 3 miền đất nước,
                        IIG Việt Nam ngày càng khẳng định uy tín trong các lĩnh vực hoạt động như: Tổ chức các
                        bài thi tiếng Anh quốc tế (bài thi TOEIC, hệ thống bài thi TOEFL), các bài thi Tin học
                        quốc tế (MOS, IC3, IC3 Spark, MCE, Adobe Certified Professional, Apple Swift) và các bài
                        thi khác như SAT, SSAT, GRE, CFA… ; cung cấp giải pháp tiếng Anh, Tin học quốc tế cho
                        các doanh nghiệp, các trường học, cơ quan quản lý giáo dục; kiểm định chất lượng giáo
                        dục; cung cấp giải pháp phòng LAB ngoại ngữ,…
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="https://iigvietnam.com/wp-content/uploads/2021/08/banner-iig-scaled.jpg" alt=""
                         class="img-fluid">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img src="https://iigvietnam.com/wp-content/uploads/2021/05/gioi-thieu-2.png" alt=""
                         class="img-fluid">
                </div>
                <div class="col-md-8">
                    <p class="text-justify">
                        Trong những năm qua, Tổ chức giáo dục IIG Việt Nam đã được Bộ Giáo
                        dục & Đào tạo và Bộ Lao động Thương binh và Xã hội công nhận và hợp tác trong lĩnh vực
                        khảo thí, đào tạo và kiểm định chất lượng. Đồng thời, Tổ chức giáo dục IIG Việt Nam đã
                        và đang cung cấp dịch vụ khảo thí và đào tạo cho các tổ chức/doanh nghiệp lớn như:
                        Viettel, Vinaphone, Mobifone, FPT, Techcombank, VPBank, Ngân hàng ACB, Microsoft Việt
                        Nam, Samsung Việt Nam, Canon Việt Nam, LG Electronics Việt Nam, Fujitsu, Vietnam
                        Airlines … cùng hơn 500 tập đoàn, doanh nghiệp lớn khác.
                    </p>
                    <p class="text-justify">
                        Với sứ mệnh đồng hành nâng cao chất lượng nền giáo dục nước nhà, Tổ
                        chức giáo dục IIG Việt Nam luôn nỗ lực đưa những tiêu chuẩn và giải pháp giáo dục tiên
                        tiến nhất vào Việt Nam, từ đó nâng cao trình độ và kỹ năng của nguồn nhân lực Việt ngang
                        tầm thế giới, đáp ứng yêu cầu khắt khe của nền kinh tế thời kỳ hội nhập sâu rộng.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Area End -->
<!--? top subjects Area Start -->
<div class="topic-area section-padding20">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-defination">
                        <h1 class="mb-20">Tầm Nhìn</h1>
                        <p>
                            Đến năm 2025, IIG định hướng trở thành tổ chức Giáo dục số 1 trong nước và khu vực về
                            khảo thí, giải pháp giáo dục và hệ sinh thái giáo dục số.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h1 class="mb-20">Sứ Mệnh</h1>
                        <p>
                            IIG cam kết đưa những tiêu chuẩn và giải pháp giáo dục tiên tiến nhất, nhằm nâng cao
                            trình độ và kỹ năng của nguồn nhân lực Việt và khu vực ngang tầm Thế giới.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h1 class="mb-20">Giá Trị Cốt Lõi</h1>
                        <p>
                            - Tiên phong đổi mới<br>
                            - Chất lượng quốc tế<br>
                            - Nội bộ đoàn kết<br>
                            - Hoạt động chuyên nghiệp<br>
                            - Hợp tác bền vững
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End -->
<!--? Team -->
<section class="team-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Partner</h2>
                </div>
            </div>
        </div>
        <div class="team-active">
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="https://iigvietnam.com/wp-content/uploads/2021/05/sanako.png" alt="" style="max-width:15rem">
                </div>
            </div>
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="https://iigvietnam.com/wp-content/uploads/2021/05/ICD.png" alt="" style="max-width:15rem">
                </div>
            </div>
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="https://iigvietnam.com/wp-content/uploads/2021/05/CGFNS.png" alt="" style="max-width:15rem">
                </div>
            </div>
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="https://iigvietnam.com/wp-content/uploads/2021/07/EMA.png" alt="" style="max-width:15rem">
                </div>
            </div>
            <div class="single-cat text-center">
                <div class="cat-icon">
                    <img src="https://iigvietnam.com/wp-content/uploads/2021/05/Certiport.png" alt="" style="max-width:15rem">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->
