
@{
    ViewData["Title"] = "Registration Exam";
}

<section class="slider-area slider-area2">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2">
                            <h1 data-animation="bounceIn" data-delay="0.2s">@ViewData["Title"]</h1>
                            <!-- breadcrumb Start-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">@ViewData["Title"]</a></li>
                                </ol>
                            </nav>
                            <!-- breadcrumb End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="section-top-border">
        <h1 class="text-center fw-bold mb-2">Registration Exam</h1>
        <p class="text-center mb-4">Please select a test to see registration instructions.</p>
        <div class="row gallery-item align-items-center">
            <div class="col-md-2">
                <a href="href=https://topik.iigvietnam.com/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2023/03/logo-TOPIK-Final.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://ap.iigvietnam.com/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2023/09/AP-Reverse-CMYK.jpg" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://iigvietnam.com/doi-tac-sanako/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2022/04/logo-sanako-1200.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://online.iigvietnam.com/dang-ky-mon-thi.html?guid=fpKUm9gsUWe3IWdyRYefNQ" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/ssAsset-9.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://online.iigvietnam.com/dang-ky-mon-thi.html?guid=ngAdyNBuG_uKVf4Z4ITRZw" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/ssAsset-10.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://iigvietnam.com/cach-dang-ky-thi-2/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/ssAsset-8.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://iigvietnam.com/cach-dang-ky-thi-toefl-primary/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/ssAsset-5.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://iigvietnam.com/cach-dang-ky-thi-toefl-junior/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/ssAsset-6.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://online.iigvietnam.com/dang-ky-mon-thi.html?guid=9jZsNbbF7Eduwkz6f6TnOw" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/ssAsset-4.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://online.iigvietnam.com/dang-ky-mon-thi.html?guid=Y5i9REkG-PxOaWexCfzGKA" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/logo-12.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://online.iigvietnam.com/dang-ky-mon-thi.html?guid=5bLCOU7OqkKTMudjvUpR1Q" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/logo-11.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://iigvietnam.com/cach-dang-ky-thi-ic3-spark/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/logo-13.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://online.iigvietnam.com/dang-ky-mon-thi.html?guid=Lk5P2nQWEayYSwl3kygNJw" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/logo-17.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://iigvietnam.com/cach-dang-ky-thi-mce/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/logo-14.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://v2.ereg.ets.org/ereg/public/jump?_p=TEL" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/iBT-1-scaled.jpg" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://collegereadiness.collegeboard.org/sat/register" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/logo-15.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://authorize.ssat.org/login?signin=571279bcd4e49e1806aace953fd32e51" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/06/logo-23.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://www.ets.org/gre/" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/05/ssAsset-2.png" alt="">
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://www.cfainstitute.org/en/programs/cfa/register" class="img-pop-up">
                    <img class="single-gallery-image" src="https://iigvietnam.com/wp-content/uploads/2021/06/logo-26.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

