<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>@ViewData["Title"] - Admin IIG_School</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="~/AdminLayout/img/favicon.png" rel="icon">
<link href="~/AdminLayout/img/apple-touch-icon.png" rel="apple-touch-icon">