@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor


@{
    var session = HttpContextAccessor.HttpContext!.Session;
    string jsoncart = session.GetString(IIG_School.Controllers.ProductController.CARTKEY);
    var cart = new List<CartItem>();
    if (jsoncart != null)
    {
        cart = JsonConvert.DeserializeObject<List<CartItem>>(jsoncart);

    }
    var ammout = cart!.Count == 0 ? 0 : cart!.Count;
    <form class="nav-item d-flex pe-3">
        <a asp-route="cart" class="btn btn-outline-dark" type="submit">
            <i class="fas fa-cart-plus me-2"></i>
            <span class="badge bg-dark text-white ms-1 rounded-pill">(@ammout)</span>
        </a>
    </form>
}