<footer>
    <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding" style="padding: 5rem 20rem 0rem;">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-5 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo mb-25">
                                <a href="index.html"><img src="https://elearning.iigvietnam.com/images/logo-footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>
                                        <strong>Headquarters</strong><br>
                                        75 Giang Van Minh, Ba Dinh distric, Ha Noi city.
                                    </p>
                                </div>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>
                                        <strong>BRANCH Da Nang city</strong><br>
                                        19 Hoang Van Thu, Hai Chau district, Da Nang city
                                    </p>
                                </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/elearningiig"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption">
                        <div class="mb-75"></div>
                        <div class="footer-tittle">
                            <div class="footer-pera">
                                <p>
                                    <strong>Registion Exam at Ha Noi city</strong><br>
                                    Floor 3, Trung Yen Plaza, 1 Trung Hoa, Cau Giay distric, Ha Noi city
                                </p>
                            </div>
                        </div>
                        <div class="footer-tittle">
                            <div class="footer-pera">
                                <p>
                                    <strong>BRANCH Ho Chi Minh city</strong><br>
                                    Floor 1, Tower 1, The Sun Avenue, 28 Mai Chi Tho, An Phu, Thu Duc city, Ho Chi Minh city
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                    <div class="mb-25"></div>
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle mb-125">
                            <div class="footer-pera">
                                <p>
                                    <strong><i class="fa-solid fa-envelope me-2"></i>ADDRESS EMAIL</strong><br>
                                    info@iigvietnam.edu.vn
                                </p>
                            </div>
                        </div>
                        <div class="footer-tittle">
                            <div class="footer-pera">
                                <p>
                                    <strong><i class="fa-solid fa-phone me-2"></i>CONTACT US</strong><br>
                                    Hotline:<br><a href="tell:1900636929">1900 636 929</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="mb-25"></div>
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <div class="footer-tittle mb-95">
                                <div class="footer-pera">
                                    <p>
                                        <strong>Time Working</strong><br>
                                        Morning: 08:00am - 12:00 pm<br>(Monday - Saturday)

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="footer-tittle">
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>
                                        Afternoon: 01:30pm - 05:30pm<br>(Monday - Friday)
                                        <br />
                                        <a href="http://online.gov.vn/Home/WebDetails/66931" target="_blank" class="logo_update" style="display: block; margin-top: 18px">
                                            <img data-src="https://iigvietnam.com/wp-content/themes/main/assets/images/common/logo_update.svg" class=" ls-is-cached lazyloaded" src="https://iigvietnam.com/wp-content/themes/main/assets/images/common/logo_update.svg">
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Xuân Mai</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer> 