@using IIG_School.Data;
@using IIG_School.Helpers;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="button-header">
        <a class="btn btn3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        <ul class="submenu" style="left: 2rem; top: 6rem;">
            @if (User.IsInRole(Constants.Roles.Admin))
            {
                <li class="mb-3">
                    <div class="dropdown-item d-flex align-items-center">
                        <a class="nav-link btn btn-link text-dark" asp-area="Admin" asp-action="Index" asp-controller="HomeAdmin" style="min-width: 16rem;">
                            <i class="bi bi-gear"></i>
                            <span>Admin</span>
                        </a>
                    </div>
                    
                </li>                
            }
            <li>
                <form class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" >
                    <button type="submit" class="nav-link btn btn-link text-dark" style="min-width: 16rem;">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>LogOut</span>
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="button-header">
        <a class="btn btn3" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
